<div class="container">
  <div class="row">
    <div class="col-md-3 menu">
      <h3>Overview</h3>
      <ul>
        <li>
          <a href="features.html">Features</a>
        </li>
        <li>
          <a href="Pricing.html">Pricing</a>
        </li>
        <li>
          <a href="pricing.html">About</a>
        </li>
        <li>
          <a href="contact.html">Contact</a>
        </li>
        <li>
          <a href="https://suite.worldofrations.com">Sign Up</a>
        </li>
        <li>
          <a href="https://suite.worldofrations.com">Sign In</a>
        </li>
      </ul>
    </div>
    <div class="col-md-3 menu">
      <h3>Social</h3>
      <ul>
        <li>
          <a href="https://www.linkedin.com/company/10671446/">LinkedIn</a>
        </li>
        <li>
          <a href="https://www.facebook.com/WorldOfRations/l">Facebook</a>
        </li>
        <li>
          <a href="https://twitter.com/WorldOfRations">Twitter</a>
        </li>
      </ul>
    </div>
    <div class="col-md-6 newsletter">
      <div class="signup clearfix">
        <p>
          Sign up for the newsletter and we'll inform you of updates, offers and more.
        </p>
        <form>
          <input type="text" name="email" class="form-control" placeholder="Your email address" />
          <input type="submit" value="Sign up" />
        </form>
      </div>
    </div>
  </div>
  <div class="credits">
    <p>Copyright © {{year}}. World of Rations PTY. LTD.</p>
    <p>Built at {{buildTimestamp}}</p>
  </div>
</div>