<div class="navbar navbar-light navbar-expand-lg" role="banner">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <img src="images/logo.png" class="mr-2 img-fluid" style="width: 35px" /> World of Rations
      </a>

      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a href="index.html" class="nav-link">
              Home
            </a>
          </li>
          <li class="nav-item active">
            <a href="features.html" class="nav-link">
              Features
            </a>
          </li>
          <li class="nav-item active">
            <a href="pricing.html" class="nav-link">
              Pricing
            </a>
          </li>
          <li class="nav-item active">
            <a href="about.html" class="nav-link">
              About
            </a>
          </li>
          <li class="nav-item active">
            <a href="contact.html" class="nav-link">
              Contact
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link--rounded" href="https://suite.worldofrations.com">Sign In</a>
          </li>
        </ul>
      </div>
    </div>
  </div>